.form__input {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 10px 5px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  margin: 0 auto calc(30px - 10px);
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__input[value] {
  font-size: 14px;
  line-height: 1.1;
}